<div class="container">
  <div class="row profile-header">
    <div class="profile-image col-6">
    </div>
    <div class="profile-info col-6">
    </div>
  </div>

  <div class="row user-events">
    <div class="col-md-7">
      <% @events.each do |event|%>
        <div class="card-event col-12">
        <div class="d-flex align-items-center">
          <div class="row event-cards">
            <div class="event-image col-4">
              <%  if event.photo.attached?%>
                   <%= cl_image_tag event.photo.key, width: 400, height: 260, crop: :fill %>
                   <% else %>
                     <%=  image_tag('event_default.png', width: 400, height: 260, crop: :fill) %>
                  <% end %>
            </div>
            <div class="event-attributes col-5">
               <h5 class="event-date"><%= event.start_time %></h5>
               <h5 class="event-title"><%= event.title %></h5>
               <h5 class="event-location"><%= event.location %></h5>
            </div>
             <div class="attend-event col-3">
                <p><%= link_to "Edit", edit_event_path(event), class: "btn btn-flat" %></p>
               <p> <%= link_to "Delete", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat-secondary" %> </p>
             </div>
          </div>
        </div>
        </div>
    <% end %>
    </div>

    <div class="col-md-5">
    <div class="calendar-container">
       <%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
       <%= date %>

      <% events.each do |event| %>
        <div class="calendar-event">
          <p><%= event.title %></p>
        </div>
       <% end %>
      <% end %>
    </div>
  </div>
  </div>

</div>
