<div class="container">

  <div class="row profile-header">
    <p> &larr; <%= link_to "Back to home page", root_path, class: "no-underline" %></p>
    <div class="profile-image col-2">
      <%= cl_image_tag current_user.photo.key, width: 200, height: 200, class: "avatar-profile" %>
    </div>
    <div class="profile-info col-5">
      <h2><%= @current_user.first_name%> <%= @current_user.last_name %></h2>
      <p>Going to  <%= @events.count %> events </p>
      <div class="btn btn-flat"> Edit Profile </div>
    </div>

      <div class="profile-friends col-5">
      <h5>Top friends</h3>
        <div class="friend-photos">
          <div class = "d-flex flex-row">
            <% @friends.each do |friend| %>
            <%= link_to user_path(friend.receiver) do  %>
              <div class="friends-avatars"><%= cl_image_tag friend.receiver.photo.key, width: 70, height: 70, crop: :fill, class: "avatar-top-friend" if friend.receiver.photo.attached? %></div>
              <div class="avatar-name"><h5> <%= friend.receiver.first_name %></div>
            <% end %>
            <% end %>

            <%# <% @friendship_requests.each do |friend_request| %>
            <%# <%= link_to user_path(friend_request.asker) do  %>
            <%# <div class="friends-avatars"><%= cl_image_tag friend_request.asker.photo.key, width: 70, height: 70, crop: :fill, class: "avatar-top-friend" if friend_request.receiver.photo.attached? %>
            <%# <% end %>
            <%# <% end %>
          </div>
        </div>
      </div>
  </div>

  <div class="row user-events">
    <div class="col-md-6">
      <% @events.each do |event|%>
        <div class="card-event">

          <div class="row event-cards">
            <div class="d-flex align-items-center">
            <div class="event-image">
            <%= link_to(event_path(event)) do %>
              <%  if event.photo.attached?%>
                   <%= cl_image_tag event.photo.key, width: 400, height: 260, crop: :fill %>
                   <% else %>
                     <%=  image_tag('event_default.gif', width: 400, height: 260, crop: :fill) %>
                  <% end %>
            <% end %>
            </div>
            <% if event.invitations.where(status: "approved") %>
            <div class="d-flex flex-column">
              <div class="event-attributes">
                <h5 class="event-title"> 🎟 <%= event.title %></h5>
                <h5 class="event-date">🗓 <%= event.start_time.strftime("%A, %B %d at %H:%M")%></h5>
                <h5 class="event-location"> 📍 <%= event.location %></h5>
                <% if event.user == current_user %>
                <h5 class="event-host"> <%= cl_image_tag event.user.photo.key, width: 16, height: 16, class: "avatar-event-card"%> Hosted by you</h5>
                <% else %>
                <h5 class="event-host"> <%= cl_image_tag event.user.photo.key, width: 16, height: 16, class: "avatar-event-card"%> Hosted by <%= event.user%></h5>
                <% end %>
              </div>
              <div class="attend-event">
              <% if event.user == current_user %>
                  <%= link_to "Edit", edit_event_path(event), class: "btn btn-flat-slim" %>
                  <%= link_to "Delete", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat-secondary-slim" %>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
          </div>
        </div>
    <% end %>
    </div>

    <div class="col-md-6">
    <div class="calendar-container sticky-top">
       <%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
       <%= date %>

      <% events.each do |event| %>
        <% if event.user == current_user %>
          <div class="calendar-event p-1 mb-1">
            <p class="m-0"><%= event.title %></p>
          </div>
        <% else %>
          <div class="calendar-event-friend">
            <p><%= event.title %></p>
          </div>
        <% end %>
       <% end %>
      <% end %>
    </div>
  </div>
  </div>

</div>
